NODE_ENV=development
PORT=3000
DATABASE_URL=postgres://user:password@localhost:5432/ut_tenant_dashboard

# openssl rand -base64 32
ENCRYPTION_KEY=

FOX_DOMAIN=https://www.foxesscloud.com
FOX_CLIENT_ID=
FOX_CLIENT_SECRET=
FOX_REDIRECT_URI=http://localhost:3000/oauth/fox/callback
FOX_SCOPE=
